*{
  margin: 0;
  padding: 0;
}

a:link{
  text-decoration: none;
}

a,button:hover{
  cursor: pointer;
}

/* +Header+ */
#header{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  height: 125px;
  background-color: black;
}

#header1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header2{
  display: flex;
  justify-content: center;
  align-items: center;
}

#header3{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -Header- */

/* +Content+ */

#content-meny{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to right, lightgray 46%, white 54%);
}

/* +Home+ */
.textSection{
  display: grid;
  grid-template-rows: 4fr 4fr;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
}

.textTitle{
  text-align: center;
  padding-top: 120px;
}

.textBox{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.startGame{
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100px;
  background-color: black;
  border: 4px solid gray;
  text-decoration: none;
}

.pictureSection{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -Home- */

/* +Kontakt Oss+ */

#content-contact{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  padding-bottom: 30px;
}

.contactInformation{
  display: grid;
  grid-template-rows: 2fr 8fr 1fr;
  width: 100%;
  height: 500px;
}

.contact-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.submit-button-position{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.submit-button{
  width: 60px;
  align: center;
}

/* -Kontakt Oss- */

/* +FAQ+ */

#content-faq{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 30px 0px;
  width: 100%;
}

.Q1, .Q2, .Q3, .Q4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  max-height: 60px;
  font-family: sans-serif;
}

.A1, .A2, .A3, .A4{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  height: 60px;
  max-height: 60px;
  font-family: sans-serif;
}

/* -FAQ- */

/* +Spill+ */

#content-game{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.container{
  padding: 5px;
  width: 800px;
  max-width: 80%;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0;
}

:root{
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

.btn{
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 100%);
  border: 1px solid hsl(var(--hue), 100%, 1%);
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.btn:hover{
  border-color: gray;
}

.btn.correct{
  --hue: var(--hue-correct);
}

.btn.wrong{
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn{
  font size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}

.visible {
  display: block;
}

/* -Spill- */

/* -Content- */



/* +Footer+ */

#footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 125px;
  background-color: black;
}

.copyright{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: white;
}

.footerNavigation{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

.footerFaq{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

.footerContactUs{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

/* -Footer- */
